<%= form_for(@vm) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Create new VM name" %>
  </div>
  <%= f.submit "Create VM", class: "btn btn-primary" %>
<% end %>
